@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  overflow-x: hidden;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}


#div-quiz{

height: 200px;
margin-top: 70px;


}

.form-group input{

margin: 10px;
}

p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-fluid {
  width: 85%;
  margin-left:250px ;
  padding: 15px

}

.img-responsive {
  margin:0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.page-title h2{
  font-family: 'Montserrat';
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 230px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  background-color: #3a3a3a;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #cccccc;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.sidebar-nav li .logotip {
  margin-left: -170px;
  display: block;
  text-decoration: none;
  padding-top: 5px;
}

.sidebar-nav li .logotip:hover {
  text-decoration: none;
  filter: sepia() saturate(10000%) hue-rotate(70deg);
}

/* Search Bar Styles */
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
  #adv-search {
    width: 405px;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 405px;
  }
}

@media screen and (min-width: 768px) {
  .cursos img{
    height: 180px;
    width: 180px;
  }
}

/* Landing Page Styles */
header {
  text-align: center;
  background: #233140;
  color: white;
}
header .container {
  padding-top: 20px;
  padding-bottom: 60px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .nome {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .logo-inicial{
  max-height: 300px;
  max-width: 100%;
}
.nome h1, span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.info-item h3{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.info-item p{
  padding-top: 0px !important;
}
#informacao .info-item {
  margin: 0 0 15px;
  right: 0;
}
#informacao * {
  z-index: 2;
  padding-top: 10px;
}
@media (min-width: 767px) {
  #informacao .info-item {
    margin: 0 0 30px;
  }
}
footer {
  color: white;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

/* Quiz Css */
.quiz-group{
  padding-top: 5px;
  width: 100%;
}